<!DOCTYPE html>
<html>
  <head>
    <title>Cooking Classics Anywhere</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>

  <!-- INCOMPLETE: -->
    <script>
    <%# Flash variables %>
    <%# for use in React and Devise's non-React rendered views %>

      let flashAlert = null;
      let flashNotice = null;
      
      <% if alert || notice %>

        <% if alert && notice %>

        <% elsif alert %>

        <% else %>

        <% end %>

      <% end %>

      const flashMessages = {
        alert: flashAlert,
        notice: flashNotice
      }
    </script>

    <% if controller_name == 'sessions' && (alert || notice) %>
      <% if alert %>
        <p class="flash-alert"><%= alert %></p>
      <% end %>
      <% if notice %>
        <p class="flash-notice"><%= notice %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
