<!DOCTYPE html>
<html>
  <head>
    <title>Cooking Classics Anywhere</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
    <% if notice || alert %>
    <!-- [NOTE] These flash message don't currently play nice with the render on React components -->
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
